html, body, .main {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	  font-family: "Arial";
		background-image: url("../../images/FWG_3440x1440.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center center;
}

h1.ui.header {
	  color: #A4A5A5 !important;
		font-family: Nunito !important;
		font-weight: 300 !important;
}

hr {
	  height: 1px !important;
		background: #ccc;
		border: 0;
}

.main > section {
	  width: 100%;
		height: 100%;
		background-color: #ffffff;
}

.main > section.panel > .container {
	 height: 100%;
	 width: 100%;
	 padding: 5%;
}

.main > section.fluid-only, .main > section.fluid-only > .container {
	  height: auto;
}

.main > section.panel.slideshow > .container {
	  padding: 0;
}

.main > section#home {
	  background-color: transparent;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
}

.main > section#home > .container {
	  width: 50%;
		text-align: center;
}

.main > section#home > .container > .header {
		margin: 0;
		color: #ffffff;
}

.main > section#home > .container > h1.header {
	  font-size: 4em;
		font-weight: 100;
}

.main > section#home > .container > i.icon {
    font-size: 2em;
		margin-top: 6%;
		color: #ffffff;
}

.main > section#about {
	  background-color: #ffffff;
}

.main > section#courses {
    background-color: #eeeeee;
}

.main > section#courses > .container > .container > .column > ul > li {
		width: 49.2%;
		display: inline-block;
		margin-bottom: 5px;
		line-height: 22px;
}

.main > section#keyfeatures {
	  background-color: #ffffff;
}

.main > section#keyfeatures > .container > .list > .item {
    width: 33.1%;
    display: inline-block;
    text-align: center;
    margin: 3% 0;
}

.main > section#keyfeatures > .container > .list > .item > i {
	  font-size: 2em;
		color: #0b9ee9;
}

.main > section#keyfeatures > .container > .list > .item > div {
		margin-top: 4%;
		font-size: 18px;
		font-weight: 100;
		font-family: Nunito;
		color: #A4A5A5 !important;
}

.main > section#stayintouch > .container > .ui.small.images {
	  display: flex;
		justify-content: center;
		margin-top: 32px;
}

.main > section#stayintouch > .container > .ui.small.images > a > img {
	  width: 64px;
		height: 64px;
		margin: 0 32px;
}

.main > section#contact {
	  background-color: #eeeeee;
}

.main > section#contact > .container {
	  height: calc(100% - 50px);
		margin: 0;
}

.main > section#contact > .container > .column > #map {
	  height: 360px;
		width: 100%;
}

.main > section#contact > .container > .column > .button {
	  margin: 5%;
}

.main > section#contact > .container > .column > p {
	  margin-top: 10px;
}

.main > section#contact > .container > .column > .contactd {
	  margin: 4% 0;
		font-size: 1.2em;
}

.main > section#contact > .container > .column > .contactd > i, .main > section#contact > .container > .column > .contactd > div > i {
    font-size: 22px;
		margin-right: 16px;
		color: #b9b9b9;
}

#footer {
    background-color: #e9eaea;
}


@media only screen and (max-width: 288px) {
		.main > section#keyfeatures > .container > .list > .item {
				width: 100% !important;
				margin: 24px 0;
		}
		.ui.container {
			  padding: 0 !important;
				margin: 0 !important;
		}
}
@media only screen and (max-width: 786px) {
		.main > section#contact > .grid.container {
			  display: block !important;
		}
	  .main > section#contact > .grid.container > .eight.wide.column {
				width: 100% !important;
				text-align: center;
		}
}
@media only screen and (max-width: 1280px) {
	  .main > section#keyfeatures > .container > .list > .item {
			  width: 49.2%;
		}
}
@media only screen and (max-width: 1080px) {
		.main > section#home > .container > h1.pc {
				display: none;
		}
	  .main > section#home > .container > h2.mobile {
			  display: block !important;
		}
	  .main > section#contact, .main > section#contact > .container {
			  height: auto;
		}
			.main > section#contact > #footer > .container > .column.right.aligned {
			  display: flex;
				justify-content: center;
		}
}
